<div class="m-3">
  <h3 class="text-center mb-5">Duck Feed Form</h3>

  <form class="feed-form" [formGroup]="feedForm">
    <div class="form-row">
      <div class="col-md-6 mt-4">
        <label for="fedAt">
          What <strong>time</strong> the ducks are fed ?
          <span class="required-asterisk"></span>
        </label>
        <input type="datetime-local" class="form-control" formControlName="fedAt" [ngClass]="{ 'is-valid': submitted, 'is-invalid': submitted && f.fedAt.errors }" />
        <div *ngIf="submitted && f.fedAt.errors" class="invalid-feedback">
          <div *ngIf="f.fedAt.errors.required">This field is required</div>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <label for="foodItems">
          What <strong>food</strong> the ducks are fed ?
          <span class="required-asterisk"></span>
        </label>
        <input type="text" class="form-control" formControlName="foodItems" [ngClass]="{ 'is-valid': submitted, 'is-invalid': submitted && f.foodItems.errors }" />
        <div *ngIf="submitted && f.foodItems.errors" class="invalid-feedback">
          <div *ngIf="f.foodItems.errors.required">This field is required</div>
        </div>
      </div>
    </div>
    
    <div class="form-row">
      <div class="col-md-6 mt-4">
        <label for="ducksQty">
          <strong>How many</strong> ducks are fed ?
          <span class="required-asterisk"></span>
        </label>
        <input type="number" class="form-control" formControlName="ducksQty" [ngClass]="{ 'is-valid': submitted, 'is-invalid': submitted && f.ducksQty.errors }" />
        <div *ngIf="submitted && f.ducksQty.errors" class="invalid-feedback">
          <div *ngIf="f.ducksQty.errors.required">This field is required</div>
        </div>
      </div>
      
      <div class="col-md-6 mt-4">
        <label for="totalFoodUsed">
          <strong>How much food</strong> the ducks are fed (in Grams) ?
          <span class="required-asterisk"></span>
        </label>
        <input type="number" class="form-control" formControlName="totalFoodUsed" [ngClass]="{ 'is-valid': submitted, 'is-invalid': submitted && f.totalFoodUsed.errors }" />
        <div *ngIf="submitted && f.totalFoodUsed.errors" class="invalid-feedback">
          <div *ngIf="f.totalFoodUsed.errors.required">This field is required</div>
        </div>
      </div>
    </div>

    <div class="form-group" formGroupName="address">
      <div class="mt-4"><strong>Where</strong> the ducks are fed ?</div>

      <div class="form-row">
        <div class="col-md-6 mt-3">
          <label class="font-weight-light" for="addressLine1">
            Address Line 1
            <span class="required-asterisk"></span>
          </label>
          <input type="text" class="form-control" formControlName="addressLine1" [ngClass]="{ 'is-valid': submitted, 'is-invalid': submitted && feedForm.get('address.addressLine1').errors }" />
          <div *ngIf="submitted && feedForm.get('address.addressLine1').errors" class="invalid-feedback">
            <div *ngIf="feedForm.get('address.addressLine1').errors.required">This field is required</div>
          </div>
        </div>

        <div class="col-md-6 mt-3">
          <label class="font-weight-light" for="addressLine2">
            Address Line 2
            <span class="required-asterisk"></span>
          </label>
          <input type="text" class="form-control" formControlName="addressLine2" [ngClass]="{ 'is-valid': submitted, 'is-invalid': submitted && feedForm.get('address.addressLine2').errors }" />
          <div *ngIf="submitted && feedForm.get('address.addressLine2').errors" class="invalid-feedback">
            <div *ngIf="feedForm.get('address.addressLine2').errors.required">This field is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mt-3">
          <label class="font-weight-light" for="landmark">
            Landmark
            <span class="required-asterisk"></span>
          </label>
          <input type="text" class="form-control" formControlName="landmark" [ngClass]="{ 'is-valid': submitted, 'is-invalid': submitted && feedForm.get('address.landmark').errors }" />
          <div *ngIf="submitted && feedForm.get('address.landmark').errors" class="invalid-feedback">
            <div *ngIf="feedForm.get('address.landmark').errors.required">This field is required</div>
          </div>
        </div>

        <div class="col-md-6 mt-3">
          <label class="font-weight-light" for="city">
            City
            <span class="required-asterisk"></span>
          </label>
          <input type="text" class="form-control" formControlName="city" [ngClass]="{ 'is-valid': submitted, 'is-invalid': submitted && feedForm.get('address.city').errors }" />
          <div *ngIf="submitted && feedForm.get('address.city').errors" class="invalid-feedback">
            <div *ngIf="feedForm.get('address.city').errors.required">This field is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mt-3">
          <label class="font-weight-light" for="state">
            State
            <span class="required-asterisk"></span>
          </label>
          <input type="text" class="form-control" formControlName="state" [ngClass]="{ 'is-valid': submitted, 'is-invalid': submitted && feedForm.get('address.state').errors }" />
          <div *ngIf="submitted && feedForm.get('address.state').errors" class="invalid-feedback">
            <div *ngIf="feedForm.get('address.state').errors.required">This field is required</div>
          </div>
        </div>

        <div class="col-md-6 mt-3">
          <label class="font-weight-light" for="country">
            Country
            <span class="required-asterisk"></span>
          </label>
          <input type="text" class="form-control" formControlName="country" [ngClass]="{ 'is-valid': submitted, 'is-invalid': submitted && feedForm.get('address.country').errors }" />
          <div *ngIf="submitted && feedForm.get('address.country').errors" class="invalid-feedback">
            <div *ngIf="feedForm.get('address.country').errors.required">This field is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mt-3">
          <label class="font-weight-light" for="pincode">
            Pincode
            <span class="required-asterisk"></span>
          </label>
          <input type="number" class="form-control" formControlName="pincode" [ngClass]="{ 'is-valid': submitted, 'is-invalid': submitted && feedForm.get('address.pincode').errors }" />
          <div *ngIf="submitted && feedForm.get('address.pincode').errors" class="invalid-feedback">
            <div *ngIf="feedForm.get('address.pincode').errors.required">This field is required</div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 text-center mt-5">
      <a class="btn btn-lg btn-primary d-block d-md-inline-block" [ngClass]="{ disabled: isLoading }" (click)="onSubmitClick()">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
        Submit
      </a>

      <div *ngIf="responseError" class="cust-toast d-inline alert alert-danger mt-3 mb-0 ml-2">{{responseError}}</div>
      <div *ngIf="responseSuccess" class="cust-toast d-inline alert alert-success mt-3 mb-0 ml-2">{{responseSuccess}}</div>
    </div>
  </form>
</div>
