<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand">
    <img src="assets/icons/small-duck-svgrepo-com.svg" alt="Logo" />
    Duck-Duck-Ho !
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarModules" aria-controls="navbarModules" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarModules">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" 
          routerLink="/form"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
            Form
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Account</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>